{#
/**
 * @file
 * Theme implementation for a 'webform' element.
 *
 * This is an copy of the webform.html.twig theme_wrapper which includes the
 * 'title_prefix' and 'title_suffix' variables needed for
 * contextual links to appear.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the webform.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_webform()
 * @see _webform_form_after_build()
 *
 * @ingroup themeable
 */
#}
<section>
  <div class="container">
    <div class="contact__grid">
      <div class="contact__info">
        <h2 class="heading-secondary heading-secondary--dark u-fw-700 u-margin-bottom-medium">
          Get in touch
        </h2>
        <p class="u-margin-bottom-medium">
          Email: <a href="mailto:info@chartwellstaff.com">info@chartwellstaff.com</a>
        </p>
        <p class="u-margin-bottom-medium">
          Phone: <a href="tel:8447823301">(844)782-3301</a>
        </p>
        <div class="float-shadow--25">
          <a href='{{ url('<front>') }}locations' class='button button--filled button--rounded'>Find your nearest Chartwell</a>
        </div>
      </div>
      <div class="contact__form">
        <form{{ attributes }}>
          {{ title_prefix }}
          {{ children }}
          {{ title_suffix }}
        </form>
      </div>
    </div>
  </div>
</section>
